$border-color: rgba(0, 0, 0, .125);

.Card
{
  border: 1px solid $border-color;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;

  &__head
  {
    border-bottom: 1px solid $border-color;
    padding: 1rem;
    background-color: rgba(0, 0, 0, .03);
  }

  &__title
  {
    font-size: 2em;
  }

  &__body
  {
    padding: 1rem;
  }
}

.Card__title
{
  &--left
  {
    text-align: left;
  }

  &--center
  {
    text-align: center;
  }

  &--right
  {
    text-align: right;
  }
}
