<div class="Card">
  <div *ngIf="title" class="Card__head">
    <p class="Card__title"
       [ngClass]="{'Card__title--center': titlePosition === TextPosition.CENTER, 'Card__title--right': titlePosition === TextPosition.RIGHT}"
    >
      {{title}}
    </p>
  </div>
  <div class="Card__body">
    <ng-content></ng-content>
  </div>
</div>
