$footer-body-padding: 10rem;

.Footer
{
  background-color: #343a40;
  color: white;
  display: flex;
  padding: 1rem $footer-body-padding;

  &__body
  {
    display: grid;
    grid-gap: 0.5rem;
    width: 100%;
  }

  &__login-link
  {
    color: white;
  }

  &__logo
  {
    width: 112px;
  }

  &__link
  {
    display: block;
  }
}

.Footer__link
{
  color: white;
  &:not(:last-child)
  {
    margin-bottom: 0.5rem;
  }
}
