<footer class="Footer">
  <div class="Footer__body">
    <p>
      You are not logged in (<a class="Footer__login-link" routerLink="/login">Log In</a>)
    </p>
    <img class="Footer__logo"
         src="https://sandbox.moodledemo.net/theme/image.php/boost/core/1648375254/moodlelogo_grayhat"
         alt="Moodle logo in footer"/>

    <div class="Footer__links">
      <a class="Footer__link" routerLink="#">Data retention summary</a>
      <a class="Footer__link" routerLink="#">Get the mobile app</a>
    </div>
  </div>
</footer>
