<nav class="Navbar">
  <div class="Navbar__left">
    <button class="Navbar__sidebar-button" (click)="toggleSidebar.emit(!showSidebar)">Sidebar</button>
    <a routerLink="/" class="Navbar__brand">Angular Moodle</a>
  </div>
  <div class="Navbar__right">
    <app-user-info class="Navbar__user-info"></app-user-info>
  </div>
</nav>
