@use "src/app/styles/variables";

.Navbar
{
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .08);

  &__sidebar-button
  {
    margin-right: variables.$standard-gap;
  }

  &__brand
  {
    text-decoration: none;
  }

  &__right
  {
    display: flex;
    align-items: center;
  }

  &__divider
  {
    width: 1px;
    margin-right: 5px;
    border: 1px solid black;
  }
}
