<main class="Login">
  <div class="Login__container">
    <app-card title="Local Moodle" [titlePosition]="TextPosition.CENTER">
      <form class="Login__section" [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
        <!--TODO: Create a generic component for text inputs-->
        <input type="text" name="username" id="username" class="Login__text-input" formControlName="username">
        <input type="password" name="password" id="password" class="Login__text-input" formControlName="password">
        <div class="Login__remember-me">
          <!--TODO: Create a generic component for checkbox inputs-->
          <input type="checkbox" name="remember-me" id="remember-me" class="Login__remember-me-input">
          <label for="remember-me">Remember username</label>
        </div>
        <app-button text="Log In"
                    [type]="ButtonType.PRIMARY"
                    [disabled]="(isFormValid$ | async) === false"></app-button>
      </form>
      <div class="Login__section">
        <a routerLink="#">Forgotten your username or password?</a>
        <p>Cookies must be enabled in your browser</p>
        <p>Some courses may allow guest access</p>
        <app-button text="Log in as guest" [type]="ButtonType.DEFAULT"></app-button>
      </div>
    </app-card>

    <!--TODO: Create a standalone component for this? -->
    <app-card>
      <div class="Login__register">
        <h2>Is this your first time here?</h2>
        <p>For full access to this site, you first need to create your account</p>
        <app-button text="Create new account" [type]="ButtonType.DEFAULT"></app-button>
      </div>
    </app-card>
  </div>
</main>
