$color-buttom-default: #363F48;
$color-buttom-primary: #004daa;

@mixin button-spacing
{
  padding: 0.5rem 1rem;
}

.Login
{
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  column-gap: 1rem;
  align-items: center;

  &__container
  {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &__section
  {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &__text-input
  {
    height: 2rem;
    padding: 0.5rem;
  }

  &__remember-me-input
  {
    margin-right: 0.5rem;
  }

  // TODO: This should be a primary button modifier
  &__submit
  {
    @include button-spacing;
    color: white;
    background-color: $color-buttom-primary;
  }

  // TODO: This should be a secondary button modifier
  &__login-as-guest
  {
    @include button-spacing;
    color: white;
    background-color: $color-buttom-default;
  }

  &__register
  {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  // TODO: This should be a secondary button modifier
  &__register-button
  {
    @include button-spacing;
    color: white;
    background-color: $color-buttom-default;
    width: 15rem;
  }
}
