.App
{
  display: grid;
  position: relative;
  grid-gap: 1rem;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: repeat(12, 1fr);
  min-height: 100vh;

  &__navbar
  {
    display: block;
    grid-column: 1 / -1;
  }

  &__sidebar
  {
    grid-row: 2 / 3;
    grid-column: 1/3;
  }

  &__content
  {
    grid-column: 3 / -1;
    margin-right: 1rem;
  }

  &__footer
  {
    grid-column: 1 / -1;
  }
}
