<div class="App">
  <app-navbar class="App__navbar" [showSidebar]="(showSidebar$ | async) ?? true"
              (toggleSidebar)="handleToggleSidebar($event)">
  </app-navbar>

  <app-sidebar class="App__sidebar" [show]="(showSidebar$ | async) ?? true"></app-sidebar>

  <div class="App__content">
    <router-outlet></router-outlet>
  </div>

  <app-footer class="App__footer"></app-footer>
</div>
