@mixin button-spacing
{
  padding: 0.5rem 1rem;
}

$color-button-default: #363F48;
$color-button-primary: #004daa;

.Button
{
  @include button-spacing;
  width: 100%;
  border: 1px transparent;
  cursor: pointer;

  &--primary
  {
    color: white;
    background-color: $color-button-primary;
  }

  &--default
  {
    color: black;
    background-color: $color-button-default;
  }

  &--disabled
  {
    cursor: not-allowed;
  }
}

.Button
{
  &--primary:hover
  {
    background-color: #0c5ba1;
  }

  &--default:hover
  {
    background-color: #b8c1ca;
  }
}
