<main class="Home">
  <app-card class="Home__title">
    <h1>{{appName}}</h1>
  </app-card>

  <app-card title="Sample Title">
    Welcome
    This site is a plain installation of the latest stable version of moodle using the Boost theme

    Use one of the following demo accounts to log in and play with it
  </app-card>
</main>
