@use "src/app/styles/variables";

.Sidebar
{
  border: 1px solid;
  height: 100%;
  background-color: variables.$color-gray;
  padding: 1rem;
  display: grid;

  &__items
  {
    text-decoration: none;
    list-style: none;
  }

  &__item
  {
    padding: 0.75rem 1.25rem;
    background-color: white;
    width: 100%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
  }

  &--hidden
  {
    display: none;
  }
}

.Sidebar__item
{
  &:first-child
  {
    border-top: 1px solid gray;
  }
}

.Sidebar__item
{
  &--active
  {
    color: white;
    background-color: variables.$color-blue;
  }
}
