<aside class="Sidebar"
       [ngClass]="{'Sidebar--hidden': !show}"
>
  <ul class="Sidebar__items">
    <li class="Sidebar__item"
        routerLink=""
        routerLinkActive="Sidebar__item--active"
        [routerLinkActiveOptions]="{exact: true}"
    >
      <fa-icon [icon]="faHome"></fa-icon>
      Home
    </li>
    <li class="Sidebar__item"
        routerLink="login"
        routerLinkActive="Sidebar__item--active"
        [routerLinkActiveOptions]="{exact: true}"
    >
      <fa-icon [icon]="faGauge"></fa-icon>
      Dashboard
    </li>
  </ul>
</aside>
