<div class="UserInfo">
  <fa-icon class="UserInfo__icon" [icon]="faSearch"></fa-icon>
  <fa-icon class="UserInfo__icon" [icon]="faComment"></fa-icon>
  <fa-icon class="UserInfo__icon" [icon]="faBell"></fa-icon>
  <p class="UserInfo__username">Admin User</p>
  <img class="UserInfo__avatar" [src]="url" alt="User Avatar" [title]="title"/>
</div>

