.UserInfo
{
  display: flex;
  //border: 1px solid;
  align-items: center;

  &__icon
  {
    margin-right: 1rem;
    color: rgba(0, 0, 0, .6);
  }

  &__username
  {
    margin-right: 0.3rem;
  }

  &__avatar
  {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-size: cover;
  }
}

.UserInfo__icon
{
  &:hover
  {
    color: black;
  }
}
